
html {
    display: flex;
    flex-direction: column;
    padding: 80px;

    height: 100%;
    background-color: rgb(231, 223, 207);

    font-family: 'GranaPadanoMedium';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    font-family: 'GranaPadanoMedium';
    border-radius: 0.3em;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 16px;;
}

.btn , .refresh {
    font-size: 30px;
    width:160px;

    background-color: rgb(58, 58, 58);
    color:rgb(255, 255, 255);
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    display: flex;
    gap: 60px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0px;
    text-decoration: underline;
}

.score .user, .score .computer {
    font-size: 40px;
    font-weight: bold;
}

.user .count {
    color: rgb(27, 194, 27);
}

.computer .count {
    color: rgb(204, 8, 8);
}

.user , .computer {
    display: flex;
    gap: 20px;
}

.outcome p {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 28px;
    margin: 2px;
}